@import url(reset.css);
@import url(normalize.css);


* {
    box-sizing: border-box;
}

/* layouts
*****************************/

header {
    background-color: hotpink;
    min-height: 10vh;
    padding: 5px;
}

nav {
    background-color: orange;
    min-height: 10vh;
}

main {
    background-color: khaki;
    min-height: 80vh;
    padding: 5vw 3vw;
}

footer {
    background-color: hotpink;
    min-height: 10vh;
}

/* poster
*************************************/

.poster_content .poster:last-child {
    margin-bottom: 0;
    background-color: teal;
}

.poster {
    position: relative;
    background-color: indigo;
    width: 100%;
    min-height: 70vh;
    margin-bottom: 20px;
   /*background: url("/images/hister.png");*/ 
}

.poster>.titulo{
    font-size: 23px;
    color: yellow;
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.poster>.titulo h1{
    
    text-align: center;
    margin: 0;
}

.poster>.titulo h2{
    text-align: center;
    margin: 0;
}

.poster>.fotter_poster{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-top: 5px solid yellow;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.poster>.fotter_poster > .box {
    text-align: center;
    background-color: red;
    margin: 5px;
    padding: 20px;
    font-size: 10px;
    width: 20vh;
  }





/* media query para pantallas grandes
*********************************************/

@media screen and (min-width: 576px) {


    .poster_content {
        display: flex;
        flex-wrap: wrap;
    }

    nav, main {
        max-width: 1024px;
        margin: auto;
    }

    .poster {
        /* 
            width: 48%; 
            margin-right: 2%;
         */

        width: calc(50% - 20px);
        margin-right: 20px;
    }

    .poster_content .poster:nth-child(even) {
        margin-right: 0;
    }

    .poster_content .poster:last-child {
        margin-bottom: 20px;
        background: url("/images/CartelReal.jpg");
    }

}