/* Afecta a todos los h1 */
h1 {
    color: rgb(221, 57, 57);
    font-size: 3em;
    font-family: courier;
}

/* selector mediante clase */
p.ejemplo{
    color: rgb(38, 255, 0);
}
/* selector mediante identificador */
#iden {
    color: rgb(255, 0, 157)
}

/*dentro de la clase container, cambia todas las p */
.container p {
    color: orange;
}

/* dentro de la clase container, dentro de la etiqueta p, dentro de la etiqueta span */
.container p span {
    background: green;
}

/* dentro de la etiqueta p, seleciona solo los parrafos con la clase especial, no es descendiente*/
p.especial2 {
    color: purple;
    background-color: rgb(184, 184, 184);
}