h1 {

    color: teal;
    border: 5px solid red;
    text-align: center;
    margin: 10px;
    padding: 20px;

    /*
    Valor global:
    padding: 20px;

    Asignacion individual:
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    padding 20px 40px;  valores verticales y horizontales
    padding 20px 40px 50px;  valores arriba, horizontale y abajo
    padding 20px 40px 50px 100px;  valores arriba, derecha, abajo y izquierda

    margin: margen que hay entre el borde y el exterior
    border: borde de la caja
    padding: margen interno al contenido (el hueco que hay entre el borde y el texto)
    texto: el texto de la caja


    */
}
span{
    border: 3px dotted red;
    padding: 5px;
}
p{
    border: 1px solid blue;
    padding: 5px;
}
.box1{
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
}

.box2{
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;

    color: white;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

.box3{
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;

    color: white;
    text-align: center;
    font-size: 25px;
}

.box4{
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;

    color: white;
    text-align: center;
    font-size: 25px;
}

.box5{
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;

    color: white;
    text-align: center;
    font-size: 25px;
    display: none;

}

.box6{
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;

    color: white;
    text-align: center;
    font-size: 25px;
}

.box7{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color:green;
    border-radius: 10px;
    position: relative;
    top:10px;
    left:10px;
    z-index: 15;
}

.box8{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: red;
    border-radius: 10px;

    position: relative;
    top:0px;
    left:0px;
    z-index: 10;
    
    
}

.box9{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 10px;
    position: relative;
    top: 33px;
    left: -137px;
    z-index: 5;
}


.box-texto{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
section{
    border: 5px solid black;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    margin-bottom: 50px;
}
body{
    margin: 50px;
}