h1 {
    color: #0099CC;
    font-size: 3em;
    font-family: courier;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url(/pruebaTecnica/ejercicios/images/Office.jpg);

    /* Set a specific height */
    height: 750px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


table {
    margin: auto;
}

td {
    border: 1px solid #000000;
    /* Abreviación */
    text-align: center;
}

th {
    border: 1px solid #000000;
    text-transform: uppercase;
    text-shadow: red;
}

td.hover {
    background-color: pink;
}

.tachado {
    text-decoration: line-through;
}

code {
    color: red;
    background-color: #888;
    font-family: monospace;
}